nav {
    padding-top: 0rem !important;
    background-color: #2E948A;
    box-shadow: -13px -19px 19px 16px #000000;
}

.produto {
    color: #FF4081;
}

.btnSalvar {
    margin-top: 5.3rem;
    background-color: #419488;
    border-radius: 12px;
    border: 2px solid #419488;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 22px;
    box-shadow: -3px 2px 16px -4px #000000;
}

.btnSalvar:active {
    margin-top: 6rem;
}

.SalvarProduto {
    margin-top: 6rem;
    background-color: #419488;
    border-radius: 12px;
    border: 2px solid #419488;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 22px;
    box-shadow: -3px 2px 16px -4px #000000;
}

.SalvarProduto:active {
    margin-top: 6.4rem;
}
