html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    padding-top: 0rem !important;
    background-color: #2E948A;
    box-shadow: -13px -19px 19px 16px #000000;
}

.color {
    background-color: #2E948A;
}

.marginTopCards {
    margin-top: 3em;
}

.center {
    justify-content: center;
}

.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 22em;
}

.produtos {
    position: relative;
    top: 72px;
    margin-left: 6rem;
    color: #ff4081;
}

.btnCadastrar {
    margin-top: 1.5rem;
    background-color: #419488;
    border-radius: 12px;
    border: 2px solid #419488;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 22px;
    box-shadow: -3px 2px 16px -4px #000000;
    z-index: -1;
}

.btnCadastrar:active {
    box-shadow: -3px 2px 16px -4px #000000 inset;
}

.imgHeight {
    max-height: 216px;
}